@import "../../../styles/partials/variables";

.ModalFooter {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-grey;

  &__copy {
    color: $grey;
    text-align: center;
  }

  &__button {
    display: inline-block;
    margin-left: 10px;
    font-size: inherit;
    font-weight: 700;
    color: $grey;
    text-decoration: underline;

    &:hover {
      color: $black;
    }
  }
}
