@import "../styles/partials/variables";

.div {
  display: inline-block;
  height: 50px;
  width: 50px;

  &.a {
    background-color: $red;
  }

  &.b {
    background-color: $red-dark;
  }
  &.c {
    background-color: $red-light;
  }
  &.d {
    background-color: $green;
  }
  &.e {
    background-color: $green-light;
  }
  &.f {
    background-color: $green-dark;
  }
  &.g {
    background-color: $tan;
  }
  &.h {
    background-color: $tan-light;
  }
  &.i {
    background-color: $steel;
  }
  &.j {
    background-color: $steel-light;
  }
}
