@import "../../../styles/partials/variables";

.Button {
  display: inline-block;
  padding: 16px;
  font-size: inherit;
  font-weight: 700;
  color: $white;
  background-color: $red;
  border-radius: 8px;
  transition: background-color 150ms ease;

  &:hover {
    background-color: $red-dark;
  }

  &--secondary {
    background-color: $green;

    &:hover {
      background-color: $green-dark;
    }
  }

  &--full-width {
    width: 100%;
  }
}
