$red: #eb5e55;
$red-light: #f5afaa;
$red-dark: #933b35;
$green: #2ac084;
$green-light: #95e0c2;
$green-dark: #1a7853;
$tan: #fdf0d5;
$tan-light: #fef9ef;
$steel: #c6d8d3;
$steel-light: #eaf0ef;
$black: #3a3335;
$grey: #908e8e;
$white: #ffffff;
$border-grey: #ededed;
$background-grey: #f6f6f6;

$mobile: 375px;
$tablet: 768px;
$laptop: 1026px;
$desktop: 1440px;
