@import "../../../styles/partials/variables";

.UserNavigation {
  height: 75px;
  border-bottom: 2px solid $border-grey;

  &__inner {
    height: 100%;
    padding: 0 20px;
    max-width: 1000px;
    margin: 0 auto;
  }

  &__nav {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
  }

  &__link {
    padding: 5px;
    margin-right: 15px;
  }
}
