@import "../../../styles/partials/variables";

.ModalHeader {
  position: relative;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;

  &__heading {
    text-align: center;
    color: $white;
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
  }
}
